<header id="author-heading">
  <h1><%= @author.name %></h1>
  <div class="delete-button">
    <%= button_to 'Delete Author', @author, :method => 'delete' %>
  </div>
</header>
<main id="author-books-container">
  <h2>All Books by <%= @author.name%></h2>
  <% @books.each do |book| %>
    <article>
      <h2 class="author-book-info-book-title"> Title: <%= book.title %></h2>
      <div >
        <ul class="author-book-info">
          <li><span class="li-heading">Average Rating: </span><%= book.average_rating %></li>
          <li><span class="li-heading">Other Authors: </span><% book.other_authors(@author.id).each do |a| %>
            <span><%=a != book.other_authors(@author.id).last ? a + ",": a%></span>
            <% end %>
          </li>
          <li><span class="li-heading">Page Count: </span><%= book.page_count %></li>
          <li><span class="li-heading">Published: </span><%= book.year_published %></li>
        </ul>
      </div>
      <div class="author-book-top-review">
        <h3><%= book.top_review.user.name %> gave it <%= book.top_review.rating %> stars</h3>
        <h2><%= book.top_review.title %></h2>
        <p><%= book.top_review.review %></p>
      </div>
    </article>
  <% end %>
</main>
