<header id="author-heading">
  <h1><%= @author.name %></h1>
  <div class="delete-button">
    <%= button_to 'Delete Author', @author, :method => 'delete' %>
  </div>
</header>
<main id="author-books-container">
  <h2>All Books</h2>
  <% @books.each do |book| %>
    <article>
      <div class="author-book-info">
        <h3>Title: <%= book.title %></h3>
        <h3>Average Rating: <%= book.average_rating %></h3>
        <h3>Other Authors: <% book.other_authors(@author.id).each do |author| %>
          <span><%= author %></span>
          <% end %>
        </h3>
        <h3><%= book.page_count %> pages</h3>
        <h3>Published in <%= book.year_published %></h3>
      </div>
      <div class="author-book-top-review">
        <h3>Review from <%= book.top_review.user.name %></h3>
        <h3><%= book.top_review.title %></h3>
        <h3>Rating: <%= book.top_review.rating %></h3>
        <p><%= book.top_review.review %></p>
      </div>
    </article>
  <% end %>
</main>
