<header id="user-heading">
</header>
<nav id="sticky-header" class="user-show-nav">
  <h1>All Reviews by <%= @user.name %></h1>
  <form>
    <h3 class="sort-label">Sort by: </h3>
    <select id="sort-books" onchange="location = this.value;">
      <option
        value="<%= @user.id %>"
        <%= "selected='selected'" unless @sort %>>
        Select
      </option>
      <option value="<%= @user.id %>?sort=date-desc"
        <%= "selected='selected'" if @sort == "date-desc" %>>
        Newest First
      </option>
      <option value="<%= @user.id %>?sort=date-asc"
        <%= "selected='selected'" if @sort == "date-asc" %>>
        Oldest First
      </option>
    </select>
  </form>
</nav>
<main id="user-reviews-container">
  <% @reviews.each do |review| %>
    <article class="review-container">
      <h3>Book: <a href="/books/<%=review.book.id%>"><%= review.book.title %></a></h3>
      <h3>Rating: <%= review.rating %></h3>
      <h3>Title: <%= review.title %></h3>
      <div class="delete-review-button">
        <%= button_to 'Delete Review', review, :method => 'delete' %>
      </div>
      <h3>Review:</h3>
      <p class="review-text"><%= review.review %></p>
    </article>
  <% end %>
</main>
