<nav id="sticky-header" class="book-heading">
    <h1>
      <%=@book.title%>
    </h1>
  <input
    class="add-button"
    id="add-review-button"
    type="button"
    onclick="location.href ='/reviews/new?book=<%= @book.id %>';"
    value="Add a Review" />
  <div class="delete-button">
    <%= button_to 'Delete Book', @book, :method => 'delete' %>
  </div>
</nav>
<section id="book-stats">
  <div class="stats-container">
    <h2>Book Information</h2>
    <ul class="author-book-info">
      <li><span class="li-heading">Average Rating: </span><%=@book.average_rating%> (<%=@book.reviews.count%>)</li>
      <li><span class="li-heading">Author(s): </span><%@book.authors.each do |a| %> <a href="../authors/<%=a.id%>"><%=a != @book.authors.last ? a.name + ",": a.name%></a>  <%end%></li>
      <li><span class="li-heading">Pages: </span><%=@book.page_count%></li>
      <li><span class="li-heading">Year Published: </span><%=@book.year_published%> </li>
    </ul>
  </div>
  <div class="stats-container">
    <h2>Top Reviews</h2>
    <ul id="top-reviews">
      <% @book.top_three_reviews.each do |r|%>
      <li>
        <span class="li-heading"><%= r.title %></span><br>
        <%= "Rated #{r.rating} by "%> <a href="../users/<%=r.user.id%>"><%="#{r.user.name}"%></a>
      </li>
      <%end%>
    </ul>
  </div>
  <div class="stats-container">
    <h2>Worst Reviews</h2>
    <ul id="bottom-reviews">
      <% @book.bottom_three_reviews.each do |r|%>
      <li>
        <span class="li-heading"><%= r.title %></span><br>
        <%= "Rated #{r.rating} by "%> <a href="../users/<%=r.user.id%>"><%="#{r.user.name}"%></a>
      </li>
      <%end%>
    </ul>
  </div>
</section>
<main id="book-reviews-container">
  <h2>All Reviews for <%=@book.title%></h2>
  <% @reviews.each do |review| %>
    <article id="review-container-<%= review.id %>" class="review-container">
      <h3><%= review.title %> <span class="reviewed-by"> reviewed by <a href="../users/<%=review.user.id%>"><%=review.user.name%></span></a></h3>
      <h3>Rating: <%= review.rating %></h3>
      <p class="review-text"><%= review.review %></p>
    </article>
  <% end %>
</main>
