<header id="book-heading">
  <h1>
    <%=@book.title%> - Average Rating: <%=@book.average_rating%> (<%=@book.reviews.count%>)
  </h1>
  <input 
    type="button" 
    onclick="location ='reviews/new?book=<%= @book.id %>';" 
    value="Add a Review" />
  <div class="delete-button">
    <%= button_to 'Delete Book', @book, :method => 'delete' %>
  </div>
  <ul>
    <li>Author(s): <%@book.authors.each do |a| %> <%=a.name%>, <%end%></li>
    <li>Pages: <%=@book.page_count%></li>
    <li>Year Published: <%=@book.year_published%> </li>
  </ul>
</header>
<section id="book-stats">
  <div class="stats-container">
    <h2>Top Reviews</h2>
    <ul id="top-reviews">
      <% @book.top_three_reviews.each do |r|%>
      <li> <%="#{r.title}, #{r.rating}, #{r.user.name}"%> </li>
      <%end%>
    </ul>
  </div>
  <div class="stats-container">
    <h2>Worst Reviews</h2>
    <ul id="bottom-reviews">
      <% @book.bottom_three_reviews.each do |r|%>
      <li> <%="#{r.title}, #{r.rating}, #{r.user.name}"%> </li>
      <%end%>
    </ul>
  </div>
</section>
<main id="book-reviews-container">
  <h2>All Reviews for <%=@book.title%></h2>
  <% @reviews.each do |review| %>
    <article id="review-container-<%= review.id %>" class="review-container">
      <h3>Title: <%= review.title %> - reviewed by <%=review.user.name%></h3>
      <h3>Rating: <%= review.rating %></h3>
      <h3>Review:</h3>
      <p><%= review.review %></p>
    </article>
  <% end %>
</main>
