<header id="new-review-heading">
  <h1>Add a Review</h1>
</header>
<main class="new-review-container">
  <h2>Book Title: <%= @book.title %></h2>
  <%= form_for [@book,@review] do |f| %>
      <%= f.label :username, "User Name" %>
      <%= f.text_field :username %>
      <%= f.label :title, "Review Title" %>
      <%= f.text_field :title %>
      <%= f.label :rating %>
      <%= f.number_field :rating, min: 1, max: 5 %>
      <%= f.label :review %>
      <%= f.text_area :review %>
    <%= f.submit  %>
  <%end%>
</main>
